<h1>Translator</h1>

<%
    var json = model.toJSON();

    //return active class for current language
    var _checkLang = function(lang){
            return json.from==lang?'active':'';
        };
%>

<div class="row lang-block">
    <div class="col-xs-6">
        <ul class="nav nav-tabs">
            <li role="presentation" class="<%=_checkLang('en')%>"><a href="#" data-lang = "en">English</a></li>
            <li role="presentation" class="<%=_checkLang('es')%>"><a href="#" data-lang = "es">Spanish</a></li>
        </ul>
        <textarea name="from" class="form-control" id="input_value"><%-json.value%></textarea>
        <div id="tips"></div>
    </div>
    <div class="col-xs-6">
        <ul class="nav nav-tabs">
            <li role="presentation" class="<%=_checkLang('es')%>"><a href="#" data-lang = "es">English</a></li>
            <li role="presentation" class="<%=_checkLang('en')%>"><a href="#" data-lang = "en">Spanish</a></li>
        </ul>
        <div class="translated" id="translated_value"></div>
    </div>
</div>



